.searchIcon{
      width: 1.5vw;
      height: 3vh;
      margin-left: -2vw;
      margin-top: 0.3vw;
    }

.input{
      width: 14.5vw;
      height: 7vh;
      margin-left: 1vw;
      margin-bottom: 3vh;
      border-radius: 1vw;
}

.fields{
      display: flex;
}